<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color:red;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="aa" @keyup="filter"><button @click="add">add</button>
        <ul>
            <li v-for="ite in showItems" :class = "{red:items.active}" @click ="items.active=!items.active">{{ite.val}}</li>
        </ul>
    </div>


    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                aa:'',
                items:[],
                showItems:[],

            },
            methods:{
                add:function(){
                    if(this.aa != ''){
                        this.items.push({val:this.aa,active:false});
                        this.aa = '';
                        this.items.sort(function(a,b){
                            return a.val>b.val;
                        });
                        this.showItems = this.items;
                    }
                },
                filter:function(){
                    var _aa = this.aa;
                    var arr = this.items.filter(function(obj){
                        return obj.val.indexOf(_aa) > -1
                    });
                    this.showItems = arr;
                }
            }
        });
    </script>
</body>
</html>